body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;  /* 기본 마진 제거 */
}


.container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 900px;
    border: 5px black solid;
    position: relative;
}

.content {
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 요소들을 세로 방향으로 정렬 */
    /* justify-content: center; */
    align-items: center; /* 수직 방향 가운데 정렬 */
}

#scoreDiv {
    position: absolute;
    top: 1%;
    left: 40%;
    text-align: center;
}

#canvas {
    /* background: rgb(205, 205, 205); */
    /* margin-bottom: 5%; */
}

#canvasDiv {
    position: absolute;
    bottom: 0;
    left: 8%;

}

.title {
    font-size: 50px;
    position: absolute;
    top: 2%;
    left: 40%;
}

.score {
    font-size: 50px;
    display: none;
    margin: 0;
}

#normalBtn {
    left: 39%;
}

#hardBtn {
    left: 61%;
}

.startBtn {
    width: 240px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: aliceblue;
    color: #1e6b7b;
    display: inline-block;
    padding: 30px 50px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: xx-large;
    font-weight: 600;
    transition: 0.25s;
    margin: 20px;
    box-sizing: border-box;
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.startBtn:hover {
    cursor: pointer;
}


/* modal */
.modal {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    z-index: 1;
    display: none;
}

.modalContent {
    margin: auto;
    line-height: 50px;
}

#insModal {
    text-align: center;
    width: 900px;
    height: 600px;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 20%;
    left: 13%;
}

.howTo {
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top:5%;
    left: 43%;
}

.instruction {
    position: absolute;
    text-align: left;
    font-size: 18px;
    left: 2%;
    top: 30%;
}

.playBtn {
    position: absolute;
    bottom: 5%;
    border: none;
    background: none;
    left: 45%;
}

.img {
    width: 70px;
    height: 70px;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
}

.xBtn {
    position: absolute;
    top: 3%;
    right: 3%;
    border: none;
    background: none;
    display: none;
}

.xImg {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#exitModal, #completeModal, #gameOverModal {
    z-index: 1;
    width: 600px;
    height: 400px;
    top: 30%; /* .wrap의 상단부터 시작 */
    left: 26%; /* .wrap의 왼쪽부터 시작 */
    background-color: whitesmoke;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    font-size: xx-large;
}

.gameOver {
    position: absolute;
    top: 30%;
    left: 35%;
    font-weight: bold;
}

.complete {
    position: absolute;
    top: 30%;
    left: 37%;
    font-weight: bold;
}

#gameOverModal .selectBtn {
    position: absolute;
    bottom: 20%;
    left: 28%;
}

#exitModal .selectBtn {
    position: absolute;
    bottom: 10%;
    left: 22%;
}

#completeModal .selectBtn {
    position: absolute;
    bottom: 10%;
    left: 44%;
}

.yesnoBtn {
    position: absolute;
    bottom: 10%;
}

.retryBtn {
    margin-right: 100px;
}

.yesBtn, .noBtn {
    height: 70px;
    font-size: 40px;
    padding: 10px 20px;
    line-height: normal;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.warning {
    position: absolute;
    font-weight: bold;
    top: 15%;
    left: 36%;
    text-align: center;
}

.confirm {
    top: 45%;
    left: 22%;
    position: absolute;
}

#difficulty {
    font-size: 40px;
    display: none;
    margin: 0;
}